@import "../bower_components/bootstrap/less/bootstrap.less";

@import "../bower_components/font-awesome/less/font-awesome.less";


@fa-font-path: "../bower_components/font-awesome/fonts";


/*==============================
=            Mixins            =
==============================*/
// @brand-primary: #ee2e24;
@brand-primary: #444;
@brand-info: blue;

@border-radius-base: 10px;
// @border-radius-large: 0;
// @border-radius-small: 0;

@font-size-base: 16px;
@line-height-base: 1.53846;

// @dropdown-bg: fade(#f5f5f5, 66%);
// @dropdown-border: none;
// @dropdown-fallback-border: transparent;
// @dropdown-link-color: @brand-primary;
// @dropdown-link-hover-color: lighten(@brand-primary, 20%);
// @dropdown-link-hover-bg: transparent;
// @dropdown-caret-color:@brand-primary;

// @navbar-height:97px;
// @navbar-default-color: @brand-primary;
// @navbar-default-bg:#fff;
// @navbar-default-link-color:@brand-primary;
// @navbar-default-link-hover-color:lighten(@brand-primary, 20%);
// @navbar-default-link-active-bg:transparent;

@input-bg:#fff;
@input-color:@brand-primary;
@input-border:@brand-primary;

@btn-default-color: @brand-primary;
@btn-default-border: @brand-primary;
@btn-default-bg:transparent;
@btn-info-color: @brand-info;
@btn-info-border: @brand-info;
@btn-info-bg:transparent;

@input-border-focus: fade(@brand-primary,20%);
@input-height-base:100%;

/*-----  End of Mixins  ------*/




/*===================================
=            Base Styles            =
===================================*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	outline:none !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition:    all 0.3s ease;
	-ms-transition:     all 0.3s ease;
	-o-transition:      all 0.3s ease;
	transition:			all 0.3s ease;
	-webkit-text-size-adjust:none;
}
::selection {
	background: #fff; /* Safari */
	color:#b3a683;
}
::-moz-selection {
	background: #fff; /* Firefox */
	color:#b3a683;
}
body,html{
	height:100%;
	min-height: 100%;
}
body{
	overflow-x: hidden;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
	color: @brand-primary;

	// old styles
	overflow-x: hidden;
	// font-family: Helvetica, sans-serif;
	// letter-spacing: .05em;
	padding-top: 40px;
}
img{
	max-width: 100%;
	height:auto;
}
h1,h2,h3,h4,h4,h5,h6{
	margin-top:0;
	font-family: "Elo", Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-transform: none;
}
label{
	font-weight: normal;
	color:@brand-primary;
}
// a{
// 	-webkit-transition: all 0.3s ease;
// 	-moz-transition:    all 0.3s ease;
// 	-ms-transition:     all 0.3s ease;
// 	-o-transition:      all 0.3s ease;
// 	transition:			all 0.3s ease;
// 	text-decoration: none !important;
// }
hr{
	margin-top: 0px;
	border-top: 2px dotted fade(@brand-primary, 50%)
}
blockquote{
	margin:0 0 @grid-gutter-width;
	padding:20px 20px 0;
	border:none;
	font-size: 30px;
	p{
		font-size: inherit;
	}
}
a:link:not(.btn), a:visited:not(.btn),a:focus:not(.btn){
	color:@brand-info;
	text-decoration: none;
}
a:hover:not(.btn),a:active:not(.btn){
	color:fade(@brand-info, 60%);
}
.inline{
	display:inline-block;
}
.pull-center{
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.uppercase{
	text-transform: uppercase;
}
.browsehappy{
	position:fixed;
	top:0;
	left: 0;
	padding:10px;
	width: 100%;
	background:red;
	color:#fff;
	z-index: 100000;
	.text-center;
	a{
		color:#fff;
		text-decoration: underline;
	}
	small{
		cursor: pointer;
	}
}
/*-----  End of Base Styles  ------*/


/*===================================
=            Site Styles            =
===================================*/


/*-----  End of Site Styles  ------*/

/*================================
=            Carousel            =
================================*/
.carousel{
	margin-bottom: @grid-gutter-width;
}

.next-image,.prev-image{
	position:absolute;
	top:48%;
	background: fade(#fff, 50%);
	border-radius: 30px;
	padding:7px 15px 5px;
	z-index: 1000;
}
.next-image{
	right:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
}
.prev-image{
	left:0;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
}

.carousel .item, .carousel{
	// position: relative;
	// top:0;
	// left: 0;
	// height:90vw;
	// max-height:93vh;
	// min-height:500px
}
/* Silde fading instead of sliding */
// #carousel .carousel-inner .item {
// 	opacity: 0;
// 	-webkit-transition: opacity .7s ease-in-out;
// 	-moz-transition: opacity .7s ease-in-out;
// 	-o-transition: opacity .7s ease-in-out;
// 	transition: opacity .7s ease-in-out;
// 	background-size: cover;
// }
// #carousel .carousel-inner .active {
// 	opacity: 1;
// }
// #carousel .carousel-inner .active.left,
// #carousel .carousel-inner .active.right {
// 	left: 0;
// 	opacity: 0;
// 	z-index: 1;
// }
// #carousel .carousel-inner .next.left,
// #carousel .carousel-inner .prev.right {
// 	opacity: 1;
// }
/*-----  End of Carousel  ------*/

/*==============================
=            footer            =
==============================*/



/*-----  End of footer  ------*/

/*=====================================
=            Media Queries            =
=====================================*/
@media (min-width: 976px) {

}
@media (max-width: 976px) {

}

/*-----  End of Media Queries  ------*/

